
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col ml-5">
            <img src="images/Code Sharpener Logo.jpg" alt="Code Sharpener Logo">
        </div>
    </div>