@model FormSubmissionValidations.Models.User;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container m-4">
    <partial name="NavPartial"/>
        <div class="row">
            <div class="col text-center"><h1>Welcome @Model.FirstName @Model.LastName</h1></div>
        </div>
    </div>
</body>
</html>