<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 m-4 border border-dark m-4">
                <form action="register" method="post">
                <div class="row">
                    <div class="col"><label>Your Name:</label></div>
                    <div class="col"><input type="text" name="Name"></div>
                </div>
                <div class="row">
                    <div class="col"><label>Dojo Location</label></div>
                    <div class="col"><select name="Location">
                        <option value="Seattle">Seattle</option>
                        <option value="San Diego">San Diego</option>
                    </select></div>
                </div>
                <div class="row">
                    <div class="col"><label>Favorite Language</label></div>
                    <div class="col"><select name="Language">
                        <option value="C#">C#</option>
                        <option value="Java">Java</option>
                    </select></div>
                </div>
                <div class="row">
                    <div class="col"><label>Comment (optional)</label></div>
                    <div class="col"><input type="description" name="Comment"></div>
                </div>
                <div class="row"><div class="col"><button class="btn btn-primary">Submit</button></div></div>
            </div>
            </form>
        </div>
    </div>
</body>
</html>